@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
*{
    margin:0px;
    padding: 0px;
}
:root{
    --cor1:#d7cdb7fb;
    --cor2:#e2cfaa; 
    --cor3:#231f17;
    --cor4: #3e5662;
    --cor5: #151515;
}
#bodyIndex{
    background-image: url(imagens/horse-1567608_1280.jpg);
    background-position: top left;
}
#bodyAntigas{
     background-image: url(imagens/napl.jpeg); 
     background-position: center center;
}
body{
    flex-direction: column;
    display: flex;
    background-color: var(--cor1);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
html{
    height: 100%;
}
#bodyIndex header{
    background-color:var(--cor3);
}
#bodyAntigas header{
    z-index: 2;
    background-color:rgba(0, 0, 0, 0.854);
    border-bottom: 1px solid rgba(125, 125, 125, 0.251);
    box-shadow:  5px 7px 25px rgba(0, 0, 0, 0.413);
}
header{
    height: 45px;
    color: var(--cor2);
    box-shadow: inset 5px 7px 25px rgba(0, 0, 0, 0.226);
}
#bodyIndex header p{
    font-size: 1.3em;
    margin: 12px 20px;
}

nav{
    box-shadow:inset 1px 6px 10px rgba(0, 0, 0, 0.228);
    height: 24px;
}
nav >a{
    font-size: 1.2em;
    color: black;
    padding:1px;
    text-decoration: none;
    margin: 1px 1%;  
}
#bodyIndex nav{
    background-color: var(--cor2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.17);
}
#bodyAntigas nav {
    display: flex;
    justify-content: flex-end;
    height: 30px;
    padding-top: 10px;
}
#bodyAntigas nav a{
    margin-right: auto;
    color: var(--cor2);
    font-size: 1.1em;
    padding: 4px;
    text-decoration: none;
    margin-top: -3px;
}
.links {
    margin-right: 3%;
    display: flex;
}
.links a{
    margin: 0px 10px;
}
.links li{
    list-style-type: none;
}

#icone{
    cursor: pointer;
    display:none;
    margin-right: 6%;
    font-size: 1.6em;
}
#bodyAntigas a:hover{
    background-color: #0e0e0ea1;
}
#bodyAntigas hr{
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.471);
    height: 20px;
    margin: 0px 12px;
}

@media (max-width : 700px) {
    hr{
        display: none;
    }
    #icone{
        display:inline;
        }
    .links{
       text-align: left;
       margin-top: 30px;
       margin-right: -4%;
       background-color:var(--cor5);
       height: 175px;
       max-width: 150px;
       flex-wrap: wrap;
       padding: 3px;
       display: none;
    }
    .links.show{
        display: block;
    }
    .links li{
        margin:4px; 
        margin: 2%;
        padding: 1px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.173);
    }
    .links li:hover{
        background-color: #000000;

    }
}
#bodyIndex nav >a:hover{
    background-color: #40382a88;
}

.guerra{
    border-radius: 10px;
    width: 19%;
    min-width: 230px;
    padding: 1px;
    margin: 4%;
    background-color: var(--cor1);
    border: 1px solid var(--cor5);
    position: relative;
    transition: 0.1s;    
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.333);
}

main{
    width: 100%;
    text-align: center;
    flex: 1;
    background-color: #000000ac;
}
#bodyAntigas section{
    margin-top: 20px;
    background-color: #f2dfb9ee;
    width: 50%;
    min-width: 320px;
    height: 610px;
    outline: 1px double rgba(250, 248, 244, 0.107);
    outline-offset: 7px;
    margin-bottom: 30px;
}
 section{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    justify-content: center;    
    display: flex;
    flex-wrap: wrap;
}

.guerra > img{
    width: 100%; 
    border-radius: 10px;    
}
.guerra:hover{
    background-color: rgba(0, 0, 0, 0.622);
    border: 1px solid rgba(0, 0, 0, 0.863);
}
.guerra button{
    background-color: var(--cor4);
    border:1px solid rgba(255, 255, 255, 0.418);
    position: absolute;
    width: 50%;
    font-size: 1em;
    top: 80%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
}
.guerra  p{
    margin: 1%  0px 6% 0px;
}
.guerra >a{
    display:none;
}

.guerra li{
    text-align: left;
    margin-left: 8%;
    margin: 1% 20px;
}
hr{
    border: 1px solid rgba(7, 7, 7, 0.257);
    margin-bottom: 4%;
}

footer{
    background-color: var(--cor1);
    font-size: 1.1em;
    text-align: center;
    color: var(--cor5);
    padding: 2px;
    border-top: 1px solid  rgba(255, 255, 255, 0.347);
}
