@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    margin:0px;
    padding: 0px;
}
:root{
    --cor1:#d7cdb7fb;
    --cor2:#e2cfaa; 
    --cor3:#231f17;
    --cor4: #3e5662;
    --cor5: #151515;
    --Family: "Merriweather", serif;
}
body{
    flex-direction: column;
    display: flex;
    background-color: var(--cor1);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    height: 100%;
}
header{
    height: 40px;
    color: var(--cor2);
    box-shadow: inset 5px 7px 25px rgba(0, 0, 0, 0.226);
}
nav{
    box-shadow:inset 1px 6px 10px rgba(0, 0, 0, 0.228);
    height: 24px;
}
nav >a{
    font-size: 1.2em;
    color: black;
    padding:1px;
    text-decoration: none;
    margin: 1px 1%;  
}
nav a:hover{
    background-color: #000000;
}
main{
    width: 100%;
    text-align: center;
    flex: 1;
    background-color: #000000ac;
}
#bodyAntigas main{
    background-color: #000000c5 ;
}
#bodyIndex{
    background-image: url(imagens/horse-1567608_1280.jpg);
    background-position: top left;
}
#bodyAntigas{
    background-image: url(imagens/napl2.jpg); 
    background-position: top center;
}
#bodyIndex header{
    background-color:var(--cor3);
}
#bodyAntigas header{
    height: 36px;
    z-index: 2;
    background-color:rgba(0, 0, 0, 0.854);
    border-bottom: 1px solid rgba(125, 125, 125, 0.251);
    box-shadow:  5px 7px 25px rgba(0, 0, 0, 0.413);
}
#bodyIndex header p{
    font-family: var(--Family);
    font-size: 1.2em;
    margin: 12px 20px;
}
#bodyIndex p,li{
    font-size: 1.1em;
}
#bodyIndex nav{
    background-color: var(--cor2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.17);
}
#bodyAntigas nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}
#bodyAntigas nav a{
    margin-right: auto;
    color: var(--cor2);
    font-size: 1.2em;
    padding: 1px 7px;
    text-decoration: none;
    margin-top: -3px;
}
#bodyAntigas h1{
    color: var(--cor2);
    font-family: var(--Family);
    font-style: italic;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.561);
    font-size: 2.2em;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.links {
    margin-right: 3%;
    display: flex;
}
.links a{
    margin: 0px 10px;
}
.links li{
    list-style-type: none;
    font-size: 1em;
}
#icone{
    cursor: pointer;
    display:none;
    margin-right: 6%;
    font-size: 1.6em;
}
#bodyAntigas hr{
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.471);
    height: 20px;
    margin: 0px 12px;
}
hr{
    border: 1px solid rgba(7, 7, 7, 0.257);
    margin-bottom: 4%;
}
@media (max-width : 700px) {
    #bodyAntigas hr{
        display: none;
    }
    #icone{
        display:inline;
    }
    .links{
       text-align: left;
       margin-top: 30px;
       margin-right: -4%;
       background-color:var(--cor5);
       height: 175px;
       max-width: 150px;
       flex-wrap: wrap;
       padding: 3px;
       display: none;
    }
    .links.show{
        display: block;
    }
    .links li{
        margin:4px; 
        margin: 2%;
        padding: 1px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.173);
    }
    .links li:hover{
        background-color: #000000;
    }
}
#bodyIndex nav>a:hover{
    background-color: #40382a88;
}
.guerra{
    border-radius: 10px;
    width: 19%;
    min-width: 230px;
    padding: 1px;
    margin:  4%; 
    background-color: var(--cor1);
    border: 1px solid var(--cor5);
    position: relative;
    transition: 0.1s;    
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.333);
}
#bodyAntigas section{
    border-radius: 10px;
    margin-top: 36px;
    background-color: #fff8e9bf;
    box-shadow:  10px 3px 10px rgba(0, 0, 0, 0.606);
    padding: 30px 10px;
    text-align: left;
    width: 67%;
    min-width: 325px;
    outline: 1px double rgba(250, 248, 244, 0.079);
    outline-offset: 10px;
    display: none;
}
.conteudo{
    display: none;
    flex-wrap: wrap; 
}
.ativo{
    display: flex;
    flex-wrap: wrap;
}
.R1, .R2{
    flex: 1;
    min-width: 300px;
    margin-bottom: 30px;
} 
.conteudo img{
    width: 100%;
    box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.137);
}
.imgEsc{
    margin: 30px auto;
    width: 90%;
    text-align: center;
}
.imgEsc a{
    color: var(--cor4);
    text-decoration: none;
    font-weight: bold;
}
.imgEsc a:hover{
    text-decoration: underline;
}
#bodyAntigas .conteudo p{
    text-indent: 1.5em;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    font-size: 1em;
    margin: 2%;
}
h2,h3{
    display:inline-block;
    padding-left: 2%;
}
h2{
    font-family:var(--Family) ;
    color: var(--cor5);
    font-size: 1.2em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.145); 
    padding-top: 10px;
}
h3{
    color: var(--cor3);
    font-size: 1.1em;
    padding-top: 2%;
    border-bottom: 2px solid rgba(82, 81, 81, 0.085);
}
section{
    margin: 50px 1px ;
    position: relative;
    top: 46%;
    left: 50%;
    transform: translate(-50%,-50%);
    justify-content: center;    
    display: flex;
    flex-wrap: wrap;
}
.guerra > img{
    width: 100%; 
    border-radius: 10px;    
}
.guerra:hover{
    background-color: rgba(0, 0, 0, 0.622);
    border: 1px solid rgba(0, 0, 0, 0.863);
}
.guerra  p{
    margin: 1%  0px 6% 0px;
}
.guerra >a{
    display:none;
}
.guerra li{
    text-align: left;
    margin-left: 8%;
    margin: 1% 20px;
}
button{
    cursor: pointer;
}
.guerra button{
    background-color: var(--cor4);
    border:1px solid rgba(255, 255, 255, 0.418);
    position: absolute;
    width: 50%;
    font-size: 1em;
    top: 80%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
}
.but,.but2, .but3{
    border: none;
    min-width: 80px;
    height: 8%;
    font-size: 1em;
    padding: 2px;
    margin-left: 10px;
}
.but{
    background-color: var(--cor4);
    border-radius: 100px;
}
.but2{
    background-color: rgba(133, 15, 15, 0.729);
    border-radius: 2px;
}
.but3{
    background-color: #795e28;
    border-radius: 10px;
}
.uni_but{
    display: flex;
    position: absolute;
    width: 98%;
    right: 5%;
    bottom: 1%;
    align-items: center;
    justify-content: right;
}
.pagN{
    position: absolute;
    left: 1%;
    color: rgba(19, 19, 19, 0.608);
    font-style: italic;
}
footer{
    background-color: var(--cor1);
    font-size: 1.1em;
    text-align: center;
    color: var(--cor5);
    padding: 2px;
    border-top: 1px solid  rgba(255, 255, 255, 0.347);
    transition: 0.6s;
}
