
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');


*{
    margin:0px;
    padding: 0px;

}

 /* :root{
    --cor1:#f1e2c5f4;
    
    --cor4: #f27430cc; 
    --cor5: #151515;
}  */

/*
:root{
    --cor1:#F2EDDC;
     --cor2:#bfb7a8b3;
    --cor3:#8C8070;
    --cor4: #4c6069;
    --cor5: #151515;
} */

:root{
    --cor1:#d7cdb7fb;
    --cor2:#d9c49a; 
    --cor3:#231f17;
    --cor4: #4c6069;

    --cor5: #151515;



}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-size: cover;
    background-image: url(imagens/horse-1567608_1280.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
}
html{
    height: 100%;
}

header{
    color: var(--cor2);
    height: 50px;
    background-color:var(--cor3);
    box-shadow: inset 5px 7px 25px rgba(0, 0, 0, 0.226);
}
header p{
    font-size: 1.3em;
    margin: 12px 20px;
}
nav{
    box-shadow:inset 1px 6px 10px rgba(0, 0, 0, 0.228);
    background-color: var(--cor2);
    height: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.17);
    }
nav >a{
    font-size: 1.2em;
    color: black;
    padding:1px;
    text-decoration: none;
    margin: 1px 2%;  
}
nav >a:hover{
    background-color: #40382a88;
    
}


.guerra{
    border-radius: 10px;
    width: 19%;
    min-width: 230px;
    padding: 1px;
    margin: 4%;
    background-color: var(--cor1);
    border: 1px solid var(--cor5);
    position: relative;
    transition: 0.1s;    
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.333);
}

main{
    padding: 50px 0px;
    width: 100%;
    text-align: center;
    flex: 1;
    background-color: #000000ac;
}

section{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    justify-content: center;    
    display: flex;
    flex-wrap: wrap;

}
.guerra > img{
    width: 100%; 
    border-radius: 10px;    
}
.guerra:hover{
    background-color: rgba(0, 0, 0, 0.622);
    border: 1px solid rgba(0, 0, 0, 0.863);
}
.guerra button{
    background-color: var(--cor4);
    border:1px solid rgba(255, 255, 255, 0.418);
    position: absolute;
    width: 50%;
    font-size: 1em;
    top: 80%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
}
.guerra  p{
    margin: 1%  0px 6% 0px;
}
.guerra >a{
    display:none;
}

.guerra li{
    text-align: left;
    margin-left: 8%;
    margin: 1% 20px;
}
hr{
    border: 1px solid rgba(7, 7, 7, 0.257);
    margin-bottom: 4%;
}
footer{
    background-color: var(--cor1);
    font-size: 1.1em;
    text-align: center;
    color: var(--cor5);
    padding: 2px;
    border-top: 1px solid  rgba(255, 255, 255, 0.347);
}