
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');


*{
    margin:0px;
    padding: 0px;

}

:root{
    --cor1:#dfcda9df;
     --cor2:#8C7C5D; 
    --cor3:#40382A;
    --cor4: #f27730cc;
    --cor5: #151515;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-size: cover;
    background-image: url(imagens/horse-1567608_1280.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
}
html{
    height: 100%;
}

header{
    color: var(--cor1);
    height: 40px;
    background-color:var(--cor3);
}
header p{
    font-size: 1.3em;
    margin: 6px 20px;
}
nav{
    background-color: var(--cor2);
    height: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.416);
    }
nav >a{
    font-size: 1.2em;
    padding:1px;
    color:var(--cor5);
    text-decoration: none;
    margin: 1px 2%;  
}
nav >a:hover{
    background-color: #40382a69;
    
}
.guerra{
    border-radius: 10px;
    width: 18%;
    min-width: 210px;
    min-height: 257px;
    height: 49vh;
    padding: 2px;
    margin: 4% 2.3%;
    background-color:var(--cor1) ;
    position: relative;
    transition: 0.3s;    
}
main{
    padding-top: 70px;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    flex: 1;
    background-color: #000000c1;
}
/* main h1{
    text-shadow: 5px 6px 1px rgba(0, 0, 0, 0.106);
    font-size: 2em;
    margin: 5% 1% 1% 1%;
    color:var(--cor1);
    font-family: "SUSE", sans-serif;
} */
section{
    justify-content: center;    
    display: flex;
    flex-wrap: wrap;

}
.guerra > img{
    width: 98%;
    height: 46%; 
    border-radius: 10px;    
}
.guerra:hover{
    background-color: rgba(0, 0, 0, 0.622);
}
.guerra button{
    background-color: var(--cor4);
    border:1px solid rgba(255, 255, 255, 0.418);

    position: absolute;
    width: 50%;
    font-size: 1em;
    top: 80%;
    transform: translate(-50%,-50%);
}
.guerra  p{
    margin: 1%  0px 6% 0px;
}
.guerra >a{
    display:none;
}

.guerra li{
    text-align: left;
    margin-left: 8%;
    margin: 1% 20px;
}
hr{
    border: 1px solid rgba(7, 7, 7, 0.257);
    margin-bottom: 4%;
}
footer{
    background-color: var(--cor2);
    font-size: 1.1em;
    text-align: center;
    color: var(--cor5);
    padding: 2px;
    border-top: 1px solid  rgba(255, 255, 255, 0.283);
}